/*  Global style, grid*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(255, 248, 250);
}

* {
    box-sizing: border-box;
}

.c-1 {width: 8.33%;}
.c-2 {width: 16.66%;}
.c-3 {width: 25%;}
.c-4 {width: 33.33%;}
.c-5 {width: 41.66%;}
.c-6 {width: 50%;}
.c-7 {width: 58.33%;}
.c-8 {width: 66.66%;}
.c-9 {width: 75%;}
.c-10 {width: 83.33%;}
.c-11 {width: 91.66%;}
.c-12 {width: 100%;}


#page-container {               /* helps footer work properly */
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 6rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.75rem;
    background: rgba(0, 0, 0, 0.04);
    text-decoration: none;
    color: #521852;
}

::selection {
    background-color: rgba(245, 132, 132, 0.53);
}


ul, li {
    padding: 0;
    list-style-type: none;
}

/*  End – Global style, grid */





/*  NavBar and its buttons  */

#navbar {
    display: flex;
    font-size: 1.7rem;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
}

.nav-button, .nav-button:hover {
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
}


#navbar .active {
    background-color: #ff5050;
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    color: white
}


#navbar .nav-passive {
    background-color: white;
    border: none;
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    color: #C70101;
}


#navbar .nav-passive:hover {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
}


#navbar :first-child {
    border-bottom-left-radius: 0.94rem;
}


#navbar :last-child {
    border-bottom-right-radius: 0.94rem;
}

/*  End - NavBar and its buttons  */





/*  Login, register and edit profile */

#login-tab, #register-tab {
    background-color: white;
    color: red;
    border-radius: 0.625rem;
    margin-right: 0.4rem;
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
}

#login-tab:hover, #register-tab:hover {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
}

#auth-tabs {
    padding: 5% 0 0 36.5%;
    font-size: 1.56rem;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    margin-bottom: 5%;
}

.auth-center {
    text-align: center;
}


.auth-table {
    list-style-type: none;
    flex-direction: row;
    margin: auto;
}

.auth-input, .auth-input-short {
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    border: none;
}

.auth-input:focus-within, .auth-input-short:focus-within {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27)
}

.auth-input, .auth-input:focus {
    height: 3.125rem;
    width: 75%;
    outline: 0;
    border-radius: 0.625rem;
}

.auth-input-short, .auth-input-short:focus {
    width: 35%;
}

.auth-input-short:first-of-type {
    margin-right: 4.3%;
}

form input[type="text"], form input[type="password"] {
    box-sizing: border-box;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 1rem;
}

.input-date {
    width: 75%;
    height: 2.81rem;
    border-radius: 0.625rem;
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    border: none;
    outline: 0;
    padding: 0 4.5% 0 4.5%;
}

.input-sex li {
    display: inline-block;
    flex-direction: row;
    border-radius: 0.625rem;
    padding: 0.4rem 0;
}

.input-sex li:first-of-type, .input-sex li:nth-of-type(2) {
    margin-right: 1%
}

.input-sex li:first-of-type {
    width: 32%;
}

.input-sex li:nth-of-type(2) {
    width: 28%;
}

.input-sex li:nth-of-type(3) {
    width: 13%;
}

/*.input-sex {*/
/*    width: 75%;*/
/*    justify-content: center;*/
/*}*/

.input-sex li {
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
}

.input-sex li:active {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
}

/* may be redundant */
.hidden-picture-form {
    display: none;
}

.input-picture, #file {
    background-color: #ff5050;
    color: #FFFFFF;
    border-radius: 0.625rem;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    text-align: center;
}

.input-profile-picture, #file {
    width: 75%;
    height: 2.56rem;
    margin-bottom: 0.125rem;
    padding: 0.44rem;
    font-size: 1.125rem;
}


#submit_register, #submit_update, #submit_login, #submit_post, #submit_comment {
    background-color: #ff5050;
    color: #FFFFFF;
    border-radius: 0.625rem;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    border: none;
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    outline: none;
}

#submit_register, #submit_update, #submit_login {
    height: 2.37rem;
    font-size: 1.375rem;
}

#submit_register:hover, #submit_update:hover, #submit_login:hover, .input-picture:hover, #submit_post:hover, #submit_comment:hover {
    box-shadow: inset -0.24rem -0.24rem 0.4rem rgba(52, 4, 4, 0.22);
}

#submit_register:active, #submit_update:active, #submit_login:active, .input-picture:active, #submit_post:active, #submit_comment:active {
    outline: 0;
    box-shadow: inset 0.24rem 0.24rem 0.4rem rgba(52, 4, 4, 0.22);
}


.submit-style-login * {
    width: 75%;
}


.submit-style-register * {
    width: 75%;
    outline: 0;
}


.remember-me {
    margin-right: 10%;
}

#help-register-age {
    position: relative;
    font-size: 0.9rem;
    color: #797979;
}

#help-register-sex {
    position: relative;
    font-size: 0.9rem;
    color: #797979;
}

#help-register-picture {
    position: relative;
    font-size: 0.9rem;
    color: #797979;
}

#uploaded-profile-picture[src="#"], #uploaded-post-picture[src="#"] {
    display: none;
}

/*  End - Login, register and edit profile  */


/* My Profile - received friend requests */

#myprofile-requests {
    position: absolute;
    top: 12%;
    left: 22%;
    height: 15%;
    width: 60%;
    box-shadow: inset 0.15rem 0.15rem 0.70rem 0.1rem #bf9cc1;
    border-radius: 4rem;
    overflow-y: scroll;
    transition: opacity;
    transition-duration: 2s;
}

.myprofile__request {
    padding-left: 10%;
    color: #023e2e;
    font-size: 1.1rem;
    transition: opacity;
    transition-duration: 3s;
}

.myprofile__request-link {
    color: purple;
    font-weight: bold;
}

.profile__accept-request, .profile__decline-request {
    border-radius: 2rem;
    text-align: center;
    border: none;
}

.profile__accept-request {
    margin-left: 3%;
    color: white;
    background-color: #83c7a1;
}

.profile__decline-request {
    color: white;
    background-color: #ba64b4;
}


/*  Logoff button  */

#logoff {
    float: right;
    padding: 0.625rem 1.56rem 0.625rem 1.56rem;
    margin: 1.9rem;
    font-weight: bold;
    color: purple;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    border-radius: 2.5rem;
    background-color: white;
    box-shadow: 0.15rem 0.15rem 0.85rem 0.2rem #f3a8a8;
    font-size: 1.25rem;
    user-select: none;
}


#logoff:hover {
    box-shadow: inset 0.15rem 0.15rem 0.85rem #f3a8a8;
    text-decoration: none;
}


#logoff:active {
    background-color: #ba4b4b;
    box-shadow: inset 0.15rem 0.15rem 0.85rem #8e3434;
    color: white;
}

/*  End - Logoff button  */





/*  Profiles list  */

.profile-list-all {
    margin: auto;
    padding-left: 2%;
    padding-top: 5%;
    flex-direction: row;
}


/*.profile-list-one {*/
/*    display: inline-block;*/
/*    background-color: white;*/
/*    border-radius: 3.75rem;*/
/*    box-shadow: -0.15rem 0 0.8rem rgba(2, 12, 47, 0.35);*/
/*    padding: 1%;*/
/*    margin-right: 15%;*/
/*}*/

.profile-list-one {
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 40%;
    background-color: white;
    border-radius: 3.75rem;
    padding: 1%;
    box-shadow: -0.15rem 0 0.8rem rgba(2, 12, 47, 0.35);
}

.profile-list-one:hover {
    box-shadow: inset 0.15rem 0.15rem 0.67rem rgba(2, 12, 47, 0.27);
}


.profile-list-one a {
    text-decoration: none;
}


.profile-list-name {
    font-family: "Open Sans Mixed", "BPG Nino Elite", sans-serif;
    font-size: 1.625rem;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15rem;
    display: inline-block;
    position: absolute;
    text-align: center;
    margin-top: 2.5%;
}


.profile-list-all a:hover, a:hover * {
    text-decoration: none;
    border-color: #ff5050;
}

.profile-list-all a:hover img {
    background-color: #ff5050;
    border-color: transparent;
}

.profile-list-all a:hover .profile-list-one {
    background-color: white;
    box-shadow: #040e2d
}

.profile-list-all a:hover .profile-list-name {
    color: purple;
}

.profile-list-all a:active, a:active * {
    text-decoration: none;
    border-color: #144465;
}

.profile-list-all a:active img {
    background-color: white;
    border: 0.188rem solid white;
}

.profile-list-all a:active .profile-list-one {
    background-color: #ff5050;
}

.profile-list-all a:active .profile-list-name {
    color: white;
}

.profile-list-image {
    border-radius: 3.125rem;
    background-color: #ff5050;
    box-shadow: 0 0 0.24rem 0.15rem #ff5050;
    height: 6.25rem;
    width: 6.25rem;
    margin: 0.312rem 0.625rem 0 0.312rem;
}

/*  End Profiles List  */




/*  Individual Profiles  */

.myprofile-profilepicture {
    height: 12.5rem;
    width: 12.5rem;
    float:right;
    margin-right: 2.5rem;
    border-radius: 32rem;
    border: solid 0.44rem #ff5050;
    background-color: #ff5050;
}


#uploaded-profile-picture {
    border-radius: 20rem;
    border: 0.25rem solid #ff5050;
    background-color: #ff5050;
    margin-left: 38%;
    position: absolute;
}


#friend-request-button {
    float: right;
    padding: 0.625rem 1.56rem 0.625rem 1.56rem;
    margin: 1.9rem;
    font-weight: bold;
    color: purple;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    border-radius: 2.5rem;
    background-color: white;
    box-shadow: 0.15rem 0.15rem 0.85rem 0.2rem #f3a8a8;
    font-size: 1.25rem;
    user-select: none;
}

#friend-request-button:hover {
    box-shadow: inset 0.15rem 0.15rem 0.85rem #f3a8a8;
    text-decoration: none;
}

#friend-request-button:active {
    background-color: #ba4b4b;
    box-shadow: inset 0.15rem 0.15rem 0.85rem #8e3434;
    color: white;
}
/*  End – Individual Profiles  */





/*  Posts List  */

.posts-container {
    display: flex;
    margin-top: 3rem;
}
    
.post-input {
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    border: none;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.625rem;
    width: 100%;
    max-width: 100%;
    resize: none;
}

.post-input:focus {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
}

.input-post-picture {
    display: inline-block;
    width: 50%;
    height: 2.5rem;
    padding: 0.44rem;
    font-size: 1.125rem;
    text-align: center;
}

.submit-style-post * {
    width: 49%;
    height: 2.5rem;
    font-size: 1.3rem;
}

#uploaded-post-picture {
    margin: 0 0 1rem 1rem;
    border-radius: 1.5rem;
    border: 0.31rem solid #FF5050;
}

.timeline {
    margin-top: 3rem;
}

.timeline-post {
    background-color: white;
    box-shadow: inset 0.1rem 0.18rem 1.3rem rgba(255, 75, 75, 0.22);
    border-radius: 1.25rem;
    width: 250%;
    padding: 2rem;
}

.timeline-picture {
    height: 28rem;
    width: 38rem;
    margin: 0 5rem;
    horiz-align: center;
    border-radius: 1rem;
}


/*  not using this anymore, maybe later */
.background-post-picture {
    background-color: rgba(255, 137, 137, 0.035);
    margin: 5% 0;
    border-radius: 1.25rem;
    box-shadow: 0.1rem 0.1rem 0.75rem rgba(2, 12, 47, 0.46);
    width: 48rem;
    height: auto;
}

.author-picture {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 3.75rem;
}

.post-author-link {
    font-family: "Open Sans Mixed", "BPG Nino Elite", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: purple;
    font-size: 1.125rem;
    background-color: rgba(255, 137, 137, 0.035);
    padding: 1.4rem;
    margin-left: 2.5rem;
    border-radius: 1.25rem;
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    text-align: center;
}

.post-author-link:hover {
    text-decoration: none;
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
}

.post-text {
    margin: 2rem 2.5rem 0.2rem 2.5rem;
    border-bottom: 1px solid rgba(101, 0, 95, 0.16);
    background-color: white;
    font-size: 1.1rem;
    padding: 2rem;
    word-wrap: break-word;
}

.post-date {
    font-size: 0.8rem;
    color: rgba(123, 0, 0, 0.51);
    float: right;
}


.comment-field {
    margin: 0 5rem;
    background-color: white;
    font-size: 1.1rem;
    padding: 2rem;
}

.comment-input {
    box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    border: none;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.625rem;
    width: 100%;
    max-width: 100%;
    height: 3rem;
    font-size: 1rem;
}


.comment-input:focus {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
}

.post-id-hidden {
    display: none;
}

.submit-style-comment {
    position: absolute;
    font-size: 1.8rem;
    margin: 0 1%;
}


.comment-author-link {
    font-family: "Open Sans Mixed", "BPG Nino Elite", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: purple;
    font-size: 1rem;
    margin-right: 0.5%;
}



/*  End – Posts list  */





/*  Secondary Navigation  */

.nav-left-tabs {
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    box-shadow: 0.15rem 0.15rem 0.61rem rgba(2, 12, 47, 0.27);
    background-color: white!important;
    font-size: 1.25rem;
    text-align: center;
    max-width: 18.75rem;
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
}

.nav-left-tabs * {
    color: purple!important;
}

.nav-left-tabs .tab-passive:hover {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);
    border-top-right-radius: 1.875rem!important;
    border-bottom-right-radius: 1.875rem!important;
}

.nav-left-tabs .active {
    background-color: #ff5050!important;
    color: white!important;
    border-radius: 0 1.875rem 1.875rem 0!important;
    box-shadow: inset 0.3rem 0.3rem 0.42rem rgba(2, 12, 47, 0.27)!important;
}

.nav-left-tabs *:hover {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27)!important;
    border-radius: 1.875rem;
}

.nav-tabs .active {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27)!important;
    color: purple!important;
}

.nav-tabs {

}
/*  End - Secondary Navigation  */





/*  Temporary  */

#placeholder {
    text-align: center;
    padding: 7% 15% 0 15%;
}


[role=alert] {
    margin-top: 5%;
    text-align: center;
}

/*overriding bootstrap .alert-dismissible and .alert*/
.alert-dismissible {
    padding-right: 0!important;
}

.alert {
    padding: 0
}

.alert .close, .alert .close span {
    margin-top: -0.5%;
}

.alert-green, .alert-red, .alert-yellow {
    box-sizing: border-box;
    height: 100%;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 0.3rem;
}

.alert-green {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-red {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-yellow {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}


/*  bootstrap fix  */
.row {
    margin-right: 0!important;
}

/*probably never used, delete if everything works*/
/*#body {*/
/*    padding:10px 0 60px 0;*/
/*}*/

/*#container {*/
/*    min-height: 100%;*/
/*    position: relative;*/
/*}*/

@media only screen and (max-width: 600px) {
    .c-1 {width: 100%;}
    .c-2 {width: 100%;}
    .c-3 {width: 100%;}
    .c-4 {width: 100%;}
    .c-5 {width: 100%;}
    .c-6 {width: 100%;}
    .c-7 {width: 100%;}
    .c-8 {width: 100%;}
    .c-9 {width: 100%;}
    .c-10 {width: 100%;}
    .c-11 {width: 100%;}
    .c-12 {width: 100%;}

    [role=alert], .alert-green, .alert-red, .alert-yellow {
        font-size: 0.9rem;
        width: 100%;
        position: absolute;
        height: 75%;
        top: 80vh
    }
    [role=alert] span {
        position: absolute;
        top: 80vh
    }


    .nav-button {
        flex-direction: column;
        display: inline-block;
        font-size: 1.2rem;
    }

    .profile-list-one {
        width: 90%
    }

    .profile-list-name {
        margin-top: 9%;
        max-width: 55%;
    }

    #auth-tabs {
        padding: 5% 0 0 13%;
        font-size: 1.2rem;
        font-family: "BPG Nino Elite Exp Caps", sans-serif;
        margin-bottom: 5%;
    }
}


.profile-list-buttons {
    position: absolute;
    top: 15%;
}

.profile-list-buttons-single {
    font-size: 1.1rem;
}

.no-data-text {
    margin-left: 5%;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
}