{% extends "base.html" %}
{% block content %}
{% from 'macros_images.html' import show_post_media, show_profile_picture %}

<div class="posts-container">
  <div class="c-3">
    <div class="nav flex-column nav-pills nav-left-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link  active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">ყველა პოსტი</a>
      <a class="nav-link tab-passive" id="v-pills-change-tab" data-toggle="pill" href="#v-pills-change" role="tab" aria-controls="v-pills-profile" aria-selected="false">მეგობრების პოსტები</a>
   </div>
  </div>


<div class="c-6">

    {% if current_user.username %}

        <form method="POST" enctype="multipart/form-data">
                {{ form_post.hidden_tag() }}
                {{ form_post.post_text(
                class_='post-input',
                placeholder='დაწერე რაც მოგაფიქრდება') }}

            <label class="input-picture input-post-picture"> სურათის ატვირთვა
                {{ form_post.media(
                accept="image/*",
                class_="hidden-picture-form",
                onchange="displayUploaded(this, 'post_picture')") }}
            </label>

            <span class="submit-style-post"> {{ form_post.submit_post }} </span>

        </form>

    {% endif %}


<div class="tab-content" id="v-pills-tabContent">
<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" style="flex-direction: column-reverse">

  {% if all_posts %}

      <div id="posts">
      {% for post in all_posts %}

          {% with author = authors.query.get(post.user_id) %}

          <div class="c-6 timeline">
              <div class="timeline-post">
                    <p class="post-date">{{ post.time.year, post.time.month, post.time.day }} </p>
                    <a href="{{ url_for('people', filename='%s' % author.username) }}" class="post-author-link">
                        {{ show_profile_picture(author, 'author-picture') }} {{ author.name_first }} {{ author.name_last }}
                    </a>

                    {% if post.text %}
                    <p class="post-text"> {{ post.text }} </p>
                        {% else %}
                        <br><br><br>
                    {% endif %}

                    {% if post.media %}
                    {{ show_post_media(post, 'timeline-picture') }}
                    {% endif %}

                    <div class="comment-field">
                        {% for comment in all_comments %}
                            {% if comment.post_id == post.id %}

                                {% with commenter = authors.query.get(comment.user_id) %}

                                <a href="{{ url_for('people', filename='%s' % commenter.username) }}" class="comment-author-link"> {{ commenter.name_first }} {{ commenter.name_last }}</a>
                                <span class="comment-individual"> {{ comment.text }} </span>
                                <br>

                                {% endwith %}

                            {% endif %}
                        {% endfor %}
                        <br>
                        <form method="POST">
                            {{ form_comment.hidden_tag() }}
                            {{ form_comment.comment_text(
                            class_='comment-input',
                            placeholder='დაწერე კომენტარი') }}

                            {{ form_comment.post_id(
                            class_='post-id-hidden',
                            value="%s" % post.id) }}
                            <span class="submit-style-comment"> {{ form_comment.submit_comment }}</span>
                        </form>
                    </div>
              </div>
          </div>
          {% endwith %}
      {% endfor %}


  {% else %}
      <h1> ჯერ არავის დაუპოსტავს </h1>
  {% endif %}

      </div>
</div>


  <div class="tab-pane fade" id="v-pills-change" role="tabpanel" aria-labelledby="v-pills-change-tab">
  </div>
</div>


</div>
        <div class="c-3">
            <img id="uploaded-post-picture" src="#" alt="your image" />
        </div>
</div>

{% endblock %}
