{% macro sign_in(form_sign_in) %}
    <form class="auth-center" method="POST">
        <div class="auth-table c-4">
            <ul>
                <li>{{ form_sign_in.hidden_tag() }}</li>
                <li>{{ form_sign_in.identifier(class_='auth-input', placeholder='მომხმარებლის სახელი ან ელფოსტა', autofocus='1') }}</li>
                <li>{{ form_sign_in.login_password(class_='auth-input', placeholder='პაროლი') }}</li>
                <li><span class="remember-me"> {{ form_sign_in.remember_me.label }} {{ form_sign_in.remember_me(class_='remember-me') }}</span></li>
                <li><span class="submit-style-login"> {{ form_sign_in.submit_login }} </span></li>
            </ul>
        </div>
    </form>
{% endmacro %}


{% macro register(form_register) %}
    <form class="auth-center" method="POST" enctype="multipart/form-data">
        <div class="auth-table c-4">
                <li>{{ form_register.hidden_tag() }}</li>

                <li>{{ form_register.username(
                    class_='auth-input',
                    placeholder='მომხმარებლის უნიკალური სახელი') }}
                </li>

                <li>{{ form_register.name_first(
                    class_='auth-input auth-input-short',
                    placeholder='სახელი') }}

                    {{ form_register.name_last(
                    class_='auth-input auth-input-short',
                    placeholder='გვარი') }}
                </li>

                <li>{{ form_register.email(
                    class_='auth-input',
                    placeholder='ელექტრონული ფოსტა') }}
                </li>
                <span id="help-register-age" style="right:20%"> {{ form_register.dob.label }} </span>
                <li>
                    {{ form_register.dob(
                    class_='input-date', type='date',   
                    min="1900-01-01", max="2008-12-31",
                    value="2000-06-01") }}
                </li>

                <li> <span id="help-register-sex" style="right:32%"> <br> {{ form_register.sex.label }} </span> <br>
                    {{ form_register.sex(
                    class_="input-sex") }}
                    <img id="uploaded-profile-picture" src="#" alt="your image" />
                </li>

                <li>
                    <label class="input-picture input-profile-picture"> პროფილის სურათი*
                    {{ form_register.picture(
                    accept="image/*",
                    class_="hidden-picture-form",
                    onchange="displayUploaded(this, 'profile_picture')") }}
                    </label>
                </li>

                <li><span id="help-register-picture" style="right:20%"> *არაა აუცილებელი</span> </li>

                <li> <br> {{ form_register.password(class_='auth-input', placeholder='ახალი პაროლი') }}</li>

                <li>{{ form_register.conf_pass(class_='auth-input', placeholder='გაიმეორეთ პაროლი') }}</li>

                <li> <span class="submit-style-register" id="profile-submit-update"> {{ form_register.submit_register }} </span> </li>
        </div>
    </form>
{% endmacro %}
